h1, h2, h3, h4, h5, h6 {
  font-family: "Permanent Marker"
}

p, div {
  font-family:  "Economica"
}

.jumbotron img {
  float: right;
}

.jumbotron {
  background-image: url("../img/green_cup.png");
  background-size: tile;
  border-radius: 0px;
}

.zach img {
  width:30%;
}

body {
  background-image: url(../img/psych.png)
}

.focus {
  font-style:italic;
}

blockquote {
  max-width: 400px;
  text-align: center;
  border-left: 3px;
  padding-left: 5px;
  margin:0 auto;
  width: auto;
  display: table;
}

#bq {
  text-align: center;
}
